input {
  border: none;
  padding: 0 20px;
}

body {
  width: 300px;
}

h1,
h3 {
  font-size: 30px;
  margin: 0;
  margin-top: -3px;
}

#header {
  background-color: #e60014;
  margin-bottom: 20px;
}

.line {
  border: 5px solid white;
  border-left-width: 0px;
  border-right-width: 0px;
  margin: 10px;
}

#header h1 {
  color: #ffffff;
  text-align: center;
}

.americanas-indica {
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.americanas-indica-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-box-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-box {
  width: 60%;
  height: 50%;
  margin-right: 10px;
  border-radius: 25px;
}

.product-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 1px 2px 10px #333333;
  padding: 8px;
  border-radius: 10px;
}

.produto-img {
  box-shadow: 1px 2px 10px #333333;
  padding: 8px;
  border-radius: 10px;
}

.produto-info img{
  width: 75px;
}

.price {
  font-size: 20px;
  margin: 0;

}

.desconto {
  background-color: lightseagreen;
  border-radius: 10px;
  /* size: 2px; */
  width: 70px;
  height: 25px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 800;
  font-size: larger;
}